<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Lista delle Pizze')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('pizze')"></nav>
<div class="container">
  <div th:replace="fragments/components :: message"></div>
  <div class="d-flex align-items-center justify-content-between">
    <h1>Lista delle pizze</h1>
    <form th:action="@{/pizze}" method="GET">
      <div class="input-group">
        <input type="text" placeholder="Cerca tra le pizze" class="form-control" name="search"
               th:value="${param.search}">
        <button class="btn btn-primary" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </form>
  </div>
  <hr>
  <div class="my-3">
    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/pizze/create}" class="btn btn-primary">Aggiungi una Pizza</a>
  </div>
  <table class="table text-center table-hover align-middle">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Descrizione</th>
      <th>Prezzo</th>
      <th>Immagine</th>
      <th>Azioni</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pizza : ${pizzaList}" th:object="${pizza}" class="align-middle">
      <td th:text="*{name}"></td>
      <td th:text="*{description}"></td>
      <td th:text="*{price}  + ' €'"></td>
      <td>
        <img style="width: 50px; height: 50px; object-fit: cover;" th:src="*{urlImg}" alt="pizze">
      </td>
      <td>
        <a class="btn btn-primary" th:href="@{/pizze/show/{id}(id=*{id})}">
          <i class="fa-solid fa-eye"></i>
        </a>
        <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-secondary" th:href="@{/pizze/edit/{id}(id=*{id})}">
          <i class="fa-solid fa-pen"></i>
        </a>
        <form sec:authorize="hasAuthority('ADMIN')" class="d-inline-block" method="POST" th:action="@{/pizze/delete/{id}(id=*{id})}"
              onsubmit="return confirm('Sei sicuro di eliminare la pizza?')">
          <button type="submit" class="btn btn-danger">
            <i class="fa-regular fa-trash-can"></i>
          </button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>