<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Lista delle Pizze')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('pizze')"></nav>
<div th:replace="fragments/components :: message"></div>
<div class="container text-center" th:object="${pizza}">
  <h1 class="pt-2" th:text="*{name} + ' ' + *{price} + ' €'"></h1>
  <p class="pt-2" th:text="*{description}"></p>
  <img style="width: 400px; height: 400px; object-fit: cover;" th:src="*{urlImg}" alt="pizza">
  <h3>Ingredienti</h3>
  <ul th:if="*{ingredients.size() > 0}">
    <li
        th:each="ingredient : *{ingredients}"
        th:text="${ingredient.name}"
        style="list-style:none;"
    >
    </li>
  </ul>
  <div th:if="*{ingredients.size() == 0}" class="alert alert-info">La lista degli ingredienti è vuota</div>

  <div sec:authorize="hasAuthority('ADMIN')" class="d-flex align-items-center">
  <h2 class="p-2">Crea nuova offerta speciale </h2>
    <a th:href="@{/offers/create(pizzaId=*{id})}" class="btn btn-primary">
      <i class="fa-solid fa-plus"></i>
    </a>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Inizio Offerta</th>
      <th>Fine Offerta</th>
      <th>Nome Offerta</th>
      <th sec:authorize="hasAuthority('ADMIN')">Azioni</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="offer : *{offers}" th:object="${offer}">
      <td th:text="*{startDate}"></td>
      <td th:text="*{endDate}"></td>
      <td th:text="*{title}"></td>
      <td sec:authorize="hasAuthority('ADMIN')">
        <a class="btn btn-secondary" th:href="@{/offers/edit/{id}(id=*{id})}">
          <i class="fa-solid fa-pen"></i>
        </a>
        <form class="d-inline-block" method="POST" th:action="@{/offers/delete/{id}(id=*{id})}"
              onsubmit="return confirm('Sei sicuro di eliminare l offerta'?')">
          <button type="submit" class="btn btn-danger">
            <i class="fa-regular fa-trash-can"></i>
          </button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <div th:if="*{offers.size() == 0}" class="alert alert-info">Non c'è nessuna offerta</div>
</div>
<div class="text-center">
  <a class="btn btn-primary mt-5" th:href="@{/pizze}">Torna alla lista delle Pizze</a>
</div>
</body>
</html>