<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="isEdit=${offer.id != null}">
<head th:insert="fragments/resources :: headResources(${isEdit ? 'Modifica Offerta' : 'Aggiungi Offerta'})"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('pizze')"></nav>
<div class="container">
  <h1 th:text="${isEdit ? 'Modifica l offerta' : 'Aggiungi un offerta'}"></h1>
  <h2 th:text="${offer.pizza.name}"></h2>
  <hr>

  <form
      th:with="actionUrl=${isEdit ? '/offers/edit/' + offer.id : '/offers/create'}"
      id="${isEdit ? 'offer-edit' : 'offer-create'}"
      th:action="@{${actionUrl}}"
      method="POST"
      th:object="${offer}"
      class="row"
  >
    <input type="hidden" th:field="*{pizza}">
    <div class="mb-3 col-12" th:insert="fragments/components :: formField('text', 'Nome Offerta', 'title')">
    </div>
    <div class="mb-3 col-6" th:insert="fragments/components :: formField('date', 'Inizio Offerta', 'startDate')">
    </div>
    <div class="mb-3 col-6" th:insert="fragments/components :: formField('date', 'Fine Offerta', 'endDate')">
    </div>
    <div>
    <button class="btn btn-success" type="submit">Salva</button>
    <a th:href="@{/pizze/show/{pizzaId}(pizzaId=*{pizza.id})}" class="btn btn-danger">Cancella</a>
    </div>
  </form>
  <div>
  </div>
</div>
</body>
</html>